#grid-section {
    margin: 3em 0;
  }
  
  #grid {
    width: 300px;
    margin: 0 auto;
  }
  
  li {
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    font-size: 3em;
    text-align: center;
    padding: .5em;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
  }
  
  #c1, #c2, #c3 {
    border-top: none;
  }
  
  #c3, #c6, #c9 {
    border-right: none;
  }
  
  #c7, #c8, #c9 {
    border-bottom: none;
  }
  
  #c1, #c4, #c7 {
    border-left: none;
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.modal-content {
    display: block;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; 
}

#myModal {
    display: none;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}